/** Navbar **/

.navbar-header{
    background-color: rgba(206, 206, 194, 0.664);
    font-size: large;
    font-style: italic;
    text-decoration: underline;
    
}

.about{ 
    justify-content: center;
    font-size: 60px; 
    font-style: italic; 
    font-weight: bolder;
    margin-top: 256px;
}

.get-started{
    background-color: red; 
}

.container-about{
    background-color: white;
    opacity: 0.6; 
    padding-top: 3rem;
}

/** Section1 **/
.section-1{
    padding-bottom: 3rem;
    background-color: whitesmoke;
    opacity: 0.6; 
    background-blend-mode: color-burn;
}
 
 /* Footer */
 footer {
    height: 50px; 
}
/* social links */
.social-networks {
    text-align: center;    
    font-size: 3rem;
    display: inline;
    font-size: 1rem;
    margin: 1%;
    padding: 5%;
    color: #777777;
}

/** index page **/


/** index page **/


/** index page **/


/** index page **/


/** hero image **/
 .hero-image{
     background-image: url("../images/recyclem8-hero-image.jpeg");
     background-size: cover;
     background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    padding-bottom: 100px;
 }


 .container-small{
height:min-content }

/** Contact page **/

/** Form **/
.contact-form gap {
    padding-top: 3500px;
    margin-top: 0 ;
    max-width: 70%;
}