/** Navbar **/

.navbar-header{
    background-color: rgba(206, 206, 194, 0.664);
}

.about{ 
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    font-style: italic; 
    margin-top: 256px;
}


/** index page **/


/** index page **/


/** index page **/


/** index page **/


/** index page **/


/** index page **/


/** hero image **/
 .hero-image{
     background-image: url("../images/recyclem8-hero-image.jpeg");
     background-size: cover;
     background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
 }

 #hero .container{
     min-height: 150vh;
     min-width: 50vw;
     max-width: 100vw;
     max-height: 300vh;
 }

/** index page **/
