/** Navbar **/

.navbar-header{
    background-color: rgba(206, 206, 194, 0.664);
    font-size: large;
    font-style: italic;
    text-decoration: underline;
    
}

.about{ 
    justify-content: center;
    font-size: 60px; 
    font-style: italic; 
    font-weight: bolder;
    margin-top: 256px;
}



.container-about{
    background-color: white;
    opacity: 0.6; 
    padding-top: 0rem;
}

/** Section1 **/
.section-1{
    padding-bottom: 3rem;
    background-color: whitesmoke;
    opacity: 0.6; 
}

/** index page **/


/** index page **/


/** index page **/


/** index page **/


/** index page **/


/** hero image **/
 .hero-image{
     background-image: url("../images/recyclem8-hero-image.jpeg");
     background-size: cover;
     background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    padding-bottom: 100px;
 }


 .container-small{
height:min-content }

/** index page **/
